{% extends "BASE.html" %}

    {% block content %}

    TESTER L'APICLOCK
    <hr/>
        Pour tester vous devez être inscrit (nécessite juste un compte google, yahoo ou AOL) <br/>
        Sinon <a href="{{ url_for('login') }}">inscrivez-vous ici</a><br/>
        Tout sera remis à jour toutes les heures<br/>
        (on ne fera rien de vos données, juste vous prévenir losr de la sortie de l'apiclock)<br/>
    <hr/>

    {% if g.user.is_authenticated() %}

        <a href="{{ url_for('APICLOCK_accueil') }}">Tester l'APIclock</a>

    {% else %}

        <a href="{{ url_for('login') }}">S'inscrire</a>

    {% endif %}

    {% endblock %}