{% extends "BASE.html" %}

    {% block content %}
        Bienvenue
        <hr/>
        Welcome on Apiclock board !<br/>
        Vous trouverez ici des bouts de codes, explications et scripts python pour faire un :<br/>
        <strong>APICLOCK = Radio réveil connecté avec Raspberry pi inside</strong><br/>
        (Evolutif, webapp... )<br/>
        <a href="{{ url_for('presentation') }}" >en savoir plus</a>
        | <a href="{{ url_for('commande') }}" >Vous souhaitez commander l'APICLOCK avec son boitier design,
prêt à l'emploi ?</a>
        <br/><br/><br/>

        {% if not g.user.is_authenticated() %}
            Alors si vous souhaitez : <br/>
            --------------------<br/>

            Apportez votre connaissance / savoir faire au projet <br/>
            (et ainsi faire peut être parti des betatesteurs : 2 APICLOCK à gagner)<br/>
            <a href="{{ url_for('login') }}" >Participer</a>
            <br/><br/><br/>
            --------------------<br/>

            Etre prévenu lors de sa sortie <br/>
            (et ainsi peut être gagner un APICLOCK si vous tweetez ce message)<br/>
            <a href="{{ url_for('login') }}" >Participer</a>
        {% endif %}

    {% endblock %}